{% extends "base_generic.html" %}

{% block content %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li class="active">Chi siamo</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Chi siamo</h1>
				</header>
				<h3>L'associazione</h3>
				<p>Alinnova è l'Associazione Laureati e Studenti in Ingegneria dell’Innovazione del Prodotto. Il corso di <a href="http://www.gest.unipd.it/it/corsi/corsi-di-studio/corsi-di-laurea-magistrale/ingegneria-dell-innovazione-del-prodotto">laurea magistrale</a> (classe di laurea LM-33 in Ingegneria Meccanica) che ha sede presso il campus di Vicenza dell'Università di Padova nasce nel 2008 per rispondere a precise esigenze delle imprese in relazione alle dinamiche attuali dei mercati e ispirandosi alle più avanzate specifiche internazionali in relazione alla moderna figura dell'ingegnere meccanico.
				 L'associazione vuole essere una rete tra studenti e laureati e un ponte verso le aziende del territorio.</p>
				<h3>Storia</h3>
				<ul class="list-group">
				  <li class="list-group-item"><strong>2008:</strong> Nasce il corso di laurea magistrale in Ingegneria dell’Innovazione del Prodotto</li>
				  <li class="list-group-item"><strong>2010:</strong> Primi studenti laureati in Innovazione del Prodotto</li>
				  <li class="list-group-item"><strong>2013:</strong> Comincia il percorso di fondazione dell'associazione Alinnova</li>
				  <li class="list-group-item"><strong>2016:</strong> Alinnova diventa una associazione registrata</li>
				  <li class="list-group-item"><strong>2017:</strong> Nasce il corso di laurea triennale in Ingegneria dell’Innovazione del Prodotto</li>
				</ul>
				<p>
				</p>
				<h3>A chi ci rivolgiamo</h3>
				<p>Ci rivolgiamo ai <strong>laureati</strong> in Ingegneria dell'Innovazione del Prodotto per mantenere una rete di contatti; agli <strong>studenti</strong> per dar loro un riferimento durante il percorso di studio; alle <strong>aziende</strong> come interfaccia per offerte di lavoro o di stage formativi; all'<strong>università</strong> come pratica interfaccia di comunicazione con ex studenti e alle <strong>associazioni</strong> di alumni che come Alinnova organizzano eventi presso il Dipartimento e nel territorio.</p>
				<h3>Progetti</h3>
				<p>Tra i nostri progetti elenchiamo:</p>
				<ul class="list-group">
				  <li class="list-group-item">Promozione del corso di laurea</li>
				  <li class="list-group-item">Organizzazione di workshop per aziende e studenti</li>
				  <li class="list-group-item">Creazione di una banca dati dei CV e delle tesi degli iscritti</li>
				  <li class="list-group-item">Collaborazioni con gli ordini professionali</li>
				</ul>
			</article>
			<!-- /Article -->
			
			

		</div>
	</div>	<!-- /container -->
	
{% endblock %}
