{% extends "base_generic.html" %}

{% block content %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li class="active">News</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">News</h1>
				</header>
				{% for dp in draftposts %}
					<div class="draftpost">
						<h3><a href="{% url 'post_detail' pk=dp.pk %}">{{ dp.title }}</a></h3>
						<p><em>(Bozza)</em></p>
						<p>{{ dp.text|linebreaksbr }}</p>
					</div>
				{% endfor %}
				
				{% for post in posts %}
					<div class="post">
						<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
						{% if post.published_date %}
						<p><small><em>{{ post.published_date }}</small></em><p>
						{% endif %}
						<p>{{ post.text|linebreaksbr }}</p>
					</div>
				{% endfor %}	
					
			</article>
			<!-- /Article -->
			
		

		</div>
	</div>	<!-- /container -->
	





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
	
{% endblock %}
